*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background: white
}
.location,
.temperature {
    width: 50%;
}
.location h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.temperature {
    flex-direction: column;
}
.temperature__description {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 10px;
}
.degree-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 5rem;
}
.degree-container h2 {
    font-weight: 300;
}
.degree-container span {
    margin: 1rem;
}
.temperature__container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.temperature__icon {
    width: 8rem;;
}
.icon {
    width: 100%;
}
.weather-info {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
}
.weather-info p {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 300;
    color: #c4c4c4;
}
.weather-info span {
    color: black;
    margin-top: 1rem;
}
